.imagen {
    width: 150px;
    height: 100px;
    background-color: rgb(248, 249, 250);
}

.scroll {
    overflow: scroll;
}

.circulo {
    border-radius: 50%;
    background-color: gainsboro;
    width: 25px;
}

.dd-items {
    align-items: center;
}